@import '_variables';
@import '_vendor';

.v-picker__title primary {
    background-color: #1a88ff !important;
    border-color: #1a88ff !important
}
.v-date-picker-title{
    background-color: #1a88ff !important;
    border-color: #1a88ff !important
}